@CHARSET "ISO-8859-1";

body {
	background: #e9e8d1;
	font-size:20px;
}

header {
	background: #85bae4;
	height: 50px;
	width:400px;
	left:500px;
	top:20px;
	position:relative;
	text-align: center;
	padding: 30px;
	font-size: 40px;
	font-weight: bold;
	font-style: oblique;
}

section {
	background: #AED1ED;
	height: 400px;
	width:600px;
	left:400px;
	top:50px;
	position:relative;
	text-align: left;
	padding: 30px;
	font-size: 20px;
	font-style: oblique;
}

.left{
	position: absolute;
	left: 20px;
}

.input {
	position: absolute;
	left: 200px;
}

.submit {
	position: absolute;
	left: 100px;
}
